.barpair .text_head {
    fill:black;
    font:18px sans-serrif;
    text-anchor:end;
}
.barpair .text_tail {
    fill:black;
    font:12px sand-serrif;
    text-anchor:start;
}
#map {
    height:95%;
}
#outlines {
    fill:#333;
    stroke:#000;
    stroke-linejoin:round;
    stroke-linecap:round;
}
.route {
    fill:none;
    stroke:red;
}
